$green:#38D779;
 $red:#FF4D64;
 $dark-blue:#031B71;
 $black:#232136;
 $white:#FAFBFF; 
 $light-red:#F17E7B;
*{
    margin: 0;
    padding: 0; 
    font-family: 'Nunito', sans-serif;
    color: $black;
    box-sizing: border-box!important;
    overflow-wrap: break-word!important;
    scroll-behavior: smooth!important;
}
h1,h3,h4,h2,div,h6,h5{
    overflow: hidden;
}
.skipBtn
{
    height: 30px;
  
}
.slide
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    overflow-y: hidden;
    max-height: 90vh;
    img
    {
      max-width: 80%;
    }
    h1{
        padding: 3px 0;
        font-weight: 600;
    }
    h2
    {
        font-weight: 300;
        font-size: 1.5em;
        margin-bottom: 5px;
        height: 100px;
    }

}
.welcome-screen
{
    overflow: hidden;
    padding: 15px;
    h4
    {
        &:hover
        {
            color: $green;
            text-decoration: underline;
        }
    }
}
.welcomeCarousel_indicators
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    div{
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 5px;
       background-color: rgba(0, 0, 0, 0.103);
        display: inline-block;
       border-radius: 50%;
       
    }
}
.welcomeCarousel_Button
{
    display: flex;
    justify-content: center;
    padding: 20px;
   
}
button 
{
    cursor: pointer;
    border: none;
    padding: 15px 40px;
    font-size: 1.4em;
    font-weight: 600;
    background-color: $green;
    box-shadow: -4px 10px 26px -6px rgba(56, 215, 122, 0.616);
    color: $white;
}
.dot-background
{
    background-color: $green!important;
}
.navbar-brand
{
    font-weight: 900!important;
    color: $green!important;
    font-size: 1.4em!important;
}
.navbar-text
{
    font-weight: 500;
    font-size: 1.2em;
    padding-right: 10px;
    color: $green!important;
    cursor: pointer;
}
.navbar,footer
{
    background-color: #031B71;
}
.select
{
    overflow: hidden!important;
    align-items: center!important;
    h3{
        font-weight:600!important;
    }

}
.header
{
    background-color: #F9FAFF;
}

  
    .swap
    {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 5px 4px;
        margin: 10px 0;
        box-shadow: -4px 10px 26px -6px rgba(56, 215, 122, 0.397);
       display: flex;
       justify-content: center;
       align-items: center;
     
      img
      {
          cursor: pointer;
          width: 70%;
      }
    }
    input
    {
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        font-size: 1.2em;
        background-color: lighten($green, 43%);
        border: 1px solid lighten($green, 10%) ;
        border-radius: 6px;
        box-shadow: -4px 10px 26px -6px rgba(56, 215, 122, 0.096);
       margin: 4px 0px!important;
    }
    button
    {
        margin-top:5px!important;
            cursor: pointer;
            border: none;
            padding: 10px 40px;
            font-size: 1.3em!important;
            font-weight: 600;
            background-color: $green;
            box-shadow: -4px 10px 26px -6px rgba(56, 215, 122, 0.616);
            color: $white;
            outline-color: $dark-blue!important;

    }
   
        select
        {
            width: 100%;
            height: 40px;
            padding: 5px 15px;
            font-size: 1.2em;
            background-color: lighten($green, 43%);
            border: 1px solid lighten($green, 10%) ;
            border-radius: 6px;
            box-shadow: -4px 10px 26px -6px rgba(56, 215, 122, 0.096);
           
        }
    
.greentext
{
    color: $green;
}
.loader
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px 5px;
    box-shadow: -4px 10px 26px -6px rgba(56, 215, 122, 0.616);
    margin: 20px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   img {
    animation:spin 2s linear infinite;
   }
   
}
.swap
{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    padding: 5px 5px;
    box-shadow: -4px 10px 26px -6px rgba(56, 215, 122, 0.616);
    margin: 20px 0;
   display: flex;
   justify-content: center;
   align-items: center;

}
.spin
{
    animation:spin 0.4s linear ;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.slider
{
  overflow: hidden;
  position: relative;
  transform: none;
  background-color: lighten($green, 43%);
  overflow: hidden;
  width: 100%;
.slider-list
{
  transform: none;
  height: 80%;
  display: flex;
  padding: 20px 15px;
  animation: scroll 60s linear infinite alternate ;
  width: calc(220px * 25)!important;

 
  .list-item
  {
      width:220px;
     display: inline-flex;
     justify-content: center;
     transform: none;
     align-items: center;
    
  }
  @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-150px * 14))}
  }
}
&::before,
  &::after {
      background: linear-gradient(to right, lighten($green, 43%) 0%,rgba(255,255,255,0) 100%);
      content: "";
      height: 100%;
      position: absolute;
      width: 5%;
      z-index: 2;
  }
  
  &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
  }

  &::before {
      left: 0;
      top: 0;
  }
}

.overflow-hide
{
    overflow:hidden!important
}
.list-item *{
    overflow: hidden;
}
.red-text
{
    color:$red!important;
}
.main
{
    border-bottom: 2px dashed #38d77a5b;
}
.document-info
{
    border: 2px dashed #38d77a5b;
    width: 60%!important;
    justify-self: center;
}
.report
{
    background-color: #F9FAFF;
}
.windows-loader
{
    width: 100%;
    height: 100%;
    position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #031B71;
   z-index: 100;
h1
{
  font-weight: 900;
}
}
.wrap
{
    overflow-wrap: break-word!important;
}
@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-size: 4em;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}
@media screen and (max-width: 480px) { 
    .report-select
    {
     margin: 5px 0!important;
    }
   
}

